@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
  }
}

:root {
  --bg-color: #ffffff;
  --text-color: #0f172a;
}

.dark {
  --bg-color: #1b1816;
  --text-color: #f8fafc;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}


@keyframes circle-expand {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }

  80% {
    width: 200vw;
    height: 200vw;
    opacity: 1;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    width: 200vw;
    height: 200vw;
    opacity: 0.1;
  }
}
